<!DOCTYPE html>
<html>
	<head>
		<!-- 页面meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>南岸电费管理系统 | 电费查询</title>
		<meta name="description" content="传智健康">
		<meta name="keywords" content="传智健康">
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../plugins/elementui/index.css">
		<link rel="stylesheet" href="../css/style.css">
		<!-- <link rel="stylesheet" href="../css/orderset.css">
		<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css"> -->
		<!-- 引入组件库 -->
		<script src="../js/vue.js"></script>
		<script src="../plugins/elementui/index.js"></script>
		<!-- import Vue before Element -->
		<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
		<!-- import JavaScript -->
		<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script src="../js/axios-0.18.0.js"></script>
	</head>
	<body class="hold-transition">
		<div id="app">

			<div class="content-header">
				<h1>电费明细<small>查询</small></h1>
				<el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
					<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
					<el-breadcrumb-item>电费明细</el-breadcrumb-item>
					<el-breadcrumb-item>查询</el-breadcrumb-item>
				</el-breadcrumb>
			</div>
			<div class="app-container">
				<!--代垫-->
				<div class="box">

					<el-card class="box-card">
						<el-row>


							<!--区域-->
							<el-col :span="8">
								<div class="grid-content bg-purple">
									&ensp;&ensp;&ensp;&ensp;区&ensp;&ensp;&ensp;&ensp;域&ensp;
									<el-select v-model="region" multiple placeholder="请选择" size="small">
										<el-option v-for="item in regionlist" :key="item" :label="item" :value="item"></el-option>
									</el-select>
								</div>
							</el-col>


							<el-col :span="8">
								<div class="grid-content bg-purple">
									&ensp;&ensp;&ensp;&ensp;运&ensp;营&ensp;商&ensp;
									<el-select v-model="customer" multiple placeholder="请选择" size="small">
										<el-option v-for="item in customerlist" :key="item" :label="item" :value="item"></el-option>
									</el-select>
								</div>
							</el-col>
						</el-row><br />

						<el-row type="flex" class="row-bg" align="middle">
							<!--<el-col :span="8">

								<div class="grid-content bg-purple">
									&ensp;&ensp;&ensp;&ensp;支付单号
									<el-input v-model="verifyCode" size="small" placeholder="请输入内容"></el-input>
								</div>
							</el-col>-->
							<!--站址编码-->
							<el-col :span="3">&ensp;&ensp;&ensp;&ensp;站址编码</el-col>
							<el-col :span="5">
								<el-input v-model="siteCode" size="small" placeholder="请输入内容"></el-input>
							</el-col>


							<!--核销单号-->
							<el-col :span="3">&ensp;&ensp;&ensp;&ensp;核销单号</el-col>
							<el-col :span="5">
								<el-input v-model="verifyCode" size="small" placeholder="请输入内容"></el-input>
							</el-col>

						</el-row><br />
						<el-row type="flex" class="row-bg" align="middle">
							<!--账期-->
							<el-col :span="2.5">&ensp;&ensp;&ensp;&ensp;账&ensp;&ensp;&ensp;&ensp;期&ensp;</el-col>
							<el-col :span="7.5">
								<el-date-picker v-model="accountPeriod"  type="monthrange" value-format ="yyyyMM"
												range-separator="至"
												start-placeholder="开始月份"
												end-placeholder="结束月份"  size="small">
								</el-date-picker>
							</el-col>
						</el-row>
						<br />

						<el-row type="flex" class="row-bg" justify="space-around">
							<el-col :span="6" ></el-col>
							<el-col :span="6" >
								<div class="grid-content bg-purple">
									<el-button @click="elec_reset()">重置</el-button>
									<el-button @click="query()">查询</el-button>
									<el-button @click="elec_export()" type="primary" >导出</el-button>
								</div>
							</el-col>
							<el-col :span="6" ></el-col>
						</el-row>
					</el-card>

					<el-card class="box-card">
						<el-table border :data="dataList" style="width: 100%" size='small' current-row-key="id">

							<!--<el-table-column prop="fengongsi" label="分公司" min-width="45"></el-table-column>-->
							<el-table-column prop="region" label="区域" ></el-table-column>
							<el-table-column prop="siteCode" label="站点编码"></el-table-column>
							<el-table-column prop="ammeterCode" label="电表编码" ></el-table-column>
							<el-table-column prop="directSupply" label="是否直供电"></el-table-column>
							<el-table-column prop="startDegrees" label="起度" ></el-table-column>
							<el-table-column prop="endDegrees" label="止度"></el-table-column>
							<el-table-column prop="electricQuantity" label="电量" ></el-table-column>
							<el-table-column prop="startDate" label="始期" ></el-table-column>
							<el-table-column prop="endDate" label="终期" ></el-table-column>
							<el-table-column prop="payMoney" label="垫资总额"></el-table-column>
							<el-table-column prop="proportion" label="分摊比例" ></el-table-column>
							<el-table-column prop="settlement" label="结算金额" ></el-table-column>
							<el-table-column prop="customer" label="运营商" ></el-table-column>
							<el-table-column prop="accountPeriod" label="账期"></el-table-column>

						</el-table>
						<div class="pagination-container">
							<el-pagination
									class="pagiantion"
									@current-change="handleCurrentChange"
									:current-page="currentPage"
									:page-size="pageSize"
									layout="total, prev, pager, next, jumper"
									:total="total">
							</el-pagination>
						</div>

					</el-card>
				</div>

			</div>
		</div>
	</body>
	
	<script>
		new Vue({
			el: '#app',
			data: {

				group: '',
				regionlist: [],
				customerlist: ["移动", "联通", "电信"],

				dataList: [],

				currentPage: 1,//当前页码
				pageSize: 5,//每页显示的记录数
				total: 0,//总记录数

				region: [],
				customer: [],
				siteCode: '',
				verifyCode: '',
				accountPeriod: [],

			
				
				
				
			},
			created: function() { //在vue初始化时调用
				axios.get("/user/group").then((response) => {
					if (response.data.flag) {
						this.group = response.data.data.group;
						if (this.group == "admin") {
							this.regionlist = ["南岸", "綦江", "江津", "巴南"];
						} else {
							this.regionlist = [this.region];
						}
					}
				})


			},
			methods: {
				elec_reset(){
					this.region = [];
					this.customer = [];
					this.siteCode = '';
					this.verifyCode = '';
					this.accountPeriod = [];
				},
				findPage() {
					var querydata = {
						"currentPage": this.currentPage,
						"pageSize": this.pageSize,
						"regions": this.region,
						"customers": this.customer,
						"siteCode":this.siteCode,
						"verifyCode":this.verifyCode,
						"startAccountPeriod": this.accountPeriod[0],
						"endAccountPeriod": this.accountPeriod[1],
					}
					axios.post("/electric/query", querydata).then((response) => {
						this.dataList = response.data.rows;
						this.total = response.data.total;
					});

				},

				//切换页码
				handleCurrentChange(currentPage) {
					this.currentPage = currentPage;
					this.findPage();
				},


				query() {
					const loading = this.$loading({
						lock: true,
						text: 'Loading...',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.7)'
					});
					this.currentPage = 1;
					this.findPage();
					loading.close();
				},

				elec_export(){
					const loading = this.$loading({
						lock: true,
						text: 'Loading...',
						spinner: 'el-icon-loading',
						background: 'rgba(0, 0, 0, 0.7)'
					});

					var querydata = {
						"currentPage": 0,
						"pageSize": this.pageSize,
						"regions": this.region,
						"customers": this.customer,
						"siteCode":this.siteCode,
						"verifyCode":this.verifyCode,
						"startAccountPeriod": this.accountPeriod[0],
						"endAccountPeriod": this.accountPeriod[1],
					};
					axios.post("/electric/export", querydata,{responseType: 'blob'}).then(function(response) {
						var blob = new Blob([response.data])
						var downloadElement = document.createElement('a');
						var href = window.URL.createObjectURL(blob); //创建下载的链接
						downloadElement.href = href;
						downloadElement.download = '代垫签认明细.xlsx'; //下载后文件名
						document.body.appendChild(downloadElement);
						downloadElement.click(); //点击下载
						document.body.removeChild(downloadElement); //下载完成移除元素
						window.URL.revokeObjectURL(href); //释放掉blob对象
						loading.close();
					}).catch(function(error) {
						console.log(error);
					});
				}

			}
		})
	</script>
</html>
