<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }

        .el-icon-arrow-down {
            font-size: 12px;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">

    <div class="content-header">
        <h1>回款统计<small>回款流程</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>回款统计</el-breadcrumb-item>
            <el-breadcrumb-item>回款流程</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <!-- <h3><small>代垫明细</small></h3> -->
            <el-card class="box-card">
                <el-row type="flex" class="row-bg">

                    <!--区域-->

                    <el-col :span="8">
                        <div class="grid-content bg-purple-light">
                            &ensp;&ensp;&ensp;&ensp;区&ensp;&ensp;&ensp;&ensp;域&ensp;
                            <el-select v-model="region" multiple placeholder="请选择" size="small" >
                                <el-option v-for="item in regionlist" :key="item" :label="item"
                                           :value="item"></el-option>
                            </el-select>
                        </div>
                    </el-col>
                    <!--运营商-->
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            &ensp;&ensp;&ensp;&ensp;运&ensp;&ensp;&ensp;&ensp;营&ensp;&ensp;&ensp;&ensp;商&ensp;
                            <el-select v-model="customer" multiple placeholder="请选择" size="small">
                                <el-option v-for="item in customerlist" :key="item" :label="item"
                                           :value="item"></el-option>
                            </el-select>
                        </div>
                    </el-col>


                </el-row>
                <br/>


                <el-row type="flex" class="row-bg" align="middle">

                    <!--回款编号-->
                    <el-col :span="3">&ensp;&ensp;&ensp;&ensp;回款编号&ensp;</el-col>
                    <el-col :span="7">
                        <div class="grid-content bg-purple">
                            <el-input type="text" v-model="rebackCode" size="small"></el-input>

                        </div>
                    </el-col>


                </el-row>
                <br/>
                <el-row type="flex" class="row-bg">

                    <!--账期-->
                    <el-col :span="10">
                        &ensp;&ensp;&ensp;&ensp;账&ensp;&ensp;&ensp;&ensp;期&ensp;
                        <el-date-picker v-model="accountPeriod" type="monthrange" value-format="yyyyMM"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"  size="small">
                        </el-date-picker>
                    </el-col>

                    <!--回款日期-->
                    <el-col :span="10">
                        回款日期&ensp;
                        <el-date-picker v-model="rebackDate" type="daterange" value-format="yyyy/MM/dd"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"  size="small">
                        </el-date-picker>
                    </el-col>
                </el-row>
                <br/>

                <el-row>
                    <el-col :span="6" :offset="8">
                        <div class="grid-content bg-purple">
                            <el-button @click="query()">查询</el-button>
                            <el-button @click="rebackexport()"  type="primary">导出</el-button>

                        </div>
                    </el-col>
                </el-row>

            </el-card>
            <el-card class="box-card">
                <el-table border :data="dataList" style="width: 100%" size='small' current-row-key="id">

                    <el-table-column prop="region" label="区域" ></el-table-column>
                    <el-table-column prop="accountPeriod" label="账期" ></el-table-column>
                    <el-table-column prop="customer" label="运营商" ></el-table-column>
                    <el-table-column prop="settlementModel" label="结算模式" ></el-table-column>
                    <el-table-column prop="rebackCode" label="回款编号" ></el-table-column>
                    <el-table-column prop="settlement" label="结算金额" ></el-table-column>
                    <el-table-column prop="uploadDate" label="上传日期" ></el-table-column>
                    <el-table-column prop="rebacked" label="是否回款" ></el-table-column>
                    <el-table-column prop="rebackDate" label="回款日期"></el-table-column>

                    <el-table-column prop="scanoperation" label="回款明细操作" min-width="91">
                        <template slot-scope="scope">

                            <el-button type="warning" size="mini" icon="el-icon-star-off" circle
                                       @click="rebackMark(scope.row)"></el-button>
                            <el-button type="danger" size="mini" icon="el-icon-delete" circle
                                       @click="rebackDelete(scope.row)"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination-container">
                    <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-size="pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>


            </el-card>
        </div>
        <el-dialog
                title="提示"
                :visible.sync="deleteRebackDialogVisible"
                width="30%"
                center>
            <span>确定要删除回款编号为:【{{deleteRebackCode}}】 的回款明细?</span>
            <span>删除回款明细后,回款编号对应的签认明细将一起被删除!</span>
            <span slot="footer" class="dialog-footer">
                <el-button type="info" @click="deleteRebackDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteRebackConfirm">确 定</el-button>
            </span>
        </el-dialog>


    </div>
</div>
</body>

<script>


    new Vue({
        el: '#app',
        data: {

            group: '',
            regionlist: [],
            customerlist: ["移动", "联通", "电信"],

            currentPage: 1,//当前页码
            pageSize: 5,//每页显示的记录数
            total: 0,//总记录数

            dataList: [],

            region: [],
            customer: [],
            rebackCode: '',
            accountPeriod: [],
            rebackDate: [],

            rowRebackNumber: "",
            rowId: "",
            myloading: '',

            deleteId:"",
            deleteRebackCode:"",
            deleteRebackDialogVisible:false,

            deleteScannedId:"",
            deleteScannedRebackNumber:"",
            deleteScannedDialogVisible:false,



            updateScannedDialogVisible: false,
        },
        created: function () { //在vue初始化时调用
            axios.get("/user/group").then((response) => {
                if (response.data.flag) {
                    this.group = response.data.data.ngroup;
                    if (this.group == "admin") {
                        this.regionlist = ["南岸", "綦江", "江津", "巴南"];
                    } else {
                        this.regionlist[0] = response.data.data.region;
                    }
                }
            })
        },

        methods: {
            findPage() {
                console.log("this.accountPeriod:>>>>>>>>>"+this.accountPeriod);
                if (this.accountPeriod == undefined || this.accountPeriod.length <= 0){
                    this.accountPeriod =[];
                }
                if (this.rebackDate == undefined || this.rebackDate.length <= 0){
                    this.rebackDate =[];
                }
                var querydata = {
                    "currentPage": this.currentPage,
                    "pageSize": this.pageSize,

                    "regions": this.region,
                    "customers": this.customer,
                    "siteCode":this.siteCode,
                    "startAccountPeriod": this.accountPeriod[0],
                    "endAccountPeriod": this.accountPeriod[1],
                    "startRebackDate": this.rebackDate[0],
                    "endRebackDate": this.rebackDate[1],
                }
                axios.post("/reback/query", querydata).then((response) => {
                    this.dataList = response.data.rows;
                    this.total = response.data.total;
                });

            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.currentPage = currentPage;
                this.findPage();
            },

            //查询
            query() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                this.currentPage = 1;
                this.findPage();
                loading.close();
            },
            //导出
            rebackexport() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                var querydata = {
                    "currentPage": 0,
                    "pageSize": 0,

                    "regions": this.region,
                    "customers": this.customer,
                    "siteCode":this.siteCode,
                    "startAccountPeriod": this.accountPeriod[0],
                    "endAccountPeriod": this.accountPeriod[1],
                    "startRebackDate": this.rebackDate[0],
                    "endRebackDate": this.rebackDate[1],
                };
                axios.post("/reback/export", querydata, {responseType: 'blob'}).then(function (response) {
                    loading.close();
                    var blob = new Blob([response.data])
                    var downloadElement = document.createElement('a');
                    var href = window.URL.createObjectURL(blob); //创建下载的链接
                    downloadElement.href = href;
                    downloadElement.download = '回款流程明细.xlsx'; //下载后文件名
                    document.body.appendChild(downloadElement);
                    downloadElement.click(); //点击下载
                    document.body.removeChild(downloadElement); //下载完成移除元素
                    window.URL.revokeObjectURL(href); //释放掉blob对象


                    loading.close();

                }).catch(function (error) {
                    console.log(error);
                });

            },



            //打标
            rebackMark(row) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                var self = this;
                axios.post("/reback/mark?id=" + row.id).then((response) => {
                    loading.close();
                    if (response.data.flag) {

                        this.$message({
                            message: row.rebackCode + ":  " + response.data.message,
                            type: 'success'
                        });
                        self.findPage();
                    }else {
                        this.$message.error(response.data.message);
                    }
                })
            },

            //回款明细删除
            rebackDelete(row) {
                this.deleteId=""
                this.deleteRebackCode="";
                this.deleteId=row.id;
                this.deleteRebackCode=row.rebackCode;

                this.deleteRebackDialogVisible=true;


            },


            //回款明细确认删除
            deleteRebackConfirm(){
                this.deleteRebackDialogVisible=false;
                this.deleteRebackCode="";
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                var self = this;
                axios.post("/reback/delete?id=" + this.deleteId).then((response) => {
                    loading.close();
                    if (response.data.flag) {
                        this.$message({
                            message: response.data.data.rebackCode + ":  " + response.data.message,
                            type: 'success'
                        });
                        self.findPage();
                    }else {
                        this.$message.error(response.data.message);
                    }

                });
                this.deleteId="";
            }



        }
    })
</script>
</html>
